ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
/*navegação*/
header {
  background: #ff0200;
}
.container-navegacao {
  max-width: 940px;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.icones {
  display: flex;
  flex-wrap: wrap;
}
.icones li + li {
  margin-left: 8px;
}

/*Notícia principal*/

.destaque-dia {
  max-width: 940px;
  margin: 0 auto 32px auto;
}

/*segundo destaque*/
.segundo-destaque {
  max-width: 940px;
  margin: 0 auto 32px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.segundo-destaque h1 {
  text-align: center;
}

/*banner*/
.barra-vinho {
  width: 938px;
  height: 49px;
  margin: 0 auto;
  position: relative;
  top: 49px;
  right: 1px;
  background: #f0c83a;
}
.banner {
  max-width: 940px;
  margin: 0 auto 32px auto;
}
.banner p {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  left: 210px;
  font-size: 2.3em;
  font-weight: bold;
  color: #f0c83a;
}
.terceiro-destaque {
  display: grid;
  grid-template-columns: minmax(200px 1fr) 3fr minmax(200px 1fr);
  grid-template-areas: 'grupo-noticas1 container-destaque grupo-noticias2';
}
