ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
/*navegação*/
header {
  background: #ff0200;
}
.container-navegacao {
  max-width: 940px;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.icones {
  display: flex;
  flex-wrap: wrap;
}
.icones li + li {
  margin-left: 8px;
}

/*Notícia principal*/

.destaque-dia {
  max-width: 940px;
  margin: 0 auto 32px auto;
}

/*segundo destaque*/
.segundo-destaque {
  max-width: 940px;
  margin: 0 auto 32px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.segundo-destaque h1 {
  text-align: center;
}

/*banner*/
.barra-vinho {
  width: 938px;
  height: 49px;
  margin: 0 auto;
  position: relative;
  top: 49px;
  right: 1px;
  background: #f0c83a;
}
.banner {
  max-width: 940px;
  margin: 0 auto 32px auto;
}
.banner p {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  left: 210px;
  font-size: 2.3em;
  font-weight: bold;
  color: #f0c83a;
}
.terceiro-destaque {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(100px 1fr) auto minmax(200px 1fr);
  grid-template-areas: 'grupo-noticias1 container-destaque grupo-noticias2';
  align-content: space-around;
  background: tomato;
}
/*grupo noticias 1*/

.terceiro-destaque {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 55px 40px 1fr 1fr;
  grid-template-areas:
    'titulo-semana-ontem1   titulo-semana-ontem1      titulo-destaque-semana  titulo-destaque-semana     titulo-destaque-semana      titulo-semana2   titulo-semana2'
    'foto-noticia-ontem-1   noticia-ontem-1           destaque-destaque-semana destaque-destaque-semana  destaque-destaque-semana     info-semana2      foto-semana2'
    'foto-noticia-ontem-2   noticia-ontem-2           destaque-destaque-semana destaque-destaque-semana destaque-destaque-semana       info-semana3     foto-semana3'
    'foto-noticia-ontem-3   noticia-ontem-3           destaque-noticias        destaque-noticias        destaque-noticias              info-semana4     foto-semana4';
}

/*Notícias ontem 1*/
.titulo-semana-ontem1 {
  grid-area: titulo-semana-ontem1;
  background: yellow;
  text-align: center;
}
.foto-noticia-ontem-1 {
  grid-area: foto-noticia-ontem-1;
}
.noticia-ontem-1 {
  grid-area: noticia-ontem-1;
}
.foto-noticia-ontem-2 {
  grid-area: foto-noticia-ontem-2;
}
.noticia-ontem-2 {
  grid-area: noticia-ontem-2;
}
.foto-noticia-ontem-3 {
  grid-area: foto-noticia-ontem-3;
}
.noticia-ontem-3 {
  grid-area: noticia-ontem-3;
}

/*Notícia destaque*/
.titulo-destaque-semana {
  grid-area: titulo-destaque-semana;
  background: brown;
  text-align: center;
}
.destaque-destaque-semana {
  grid-area: destaque-destaque-semana;
  margin: 0 auto;
  background: cornflowerblue;
}
.destaque-noticias {
  grid-area: destaque-noticias;
}
.destaque-noticias {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
/*Motícia ontem 2*/
.titulo-semana2 {
  grid-area: titulo-semana2;
  background: chartreuse;
  text-align: center;
}
.foto-semana2 {
  grid-area: foto-semana2;
  background: burlywood;
}
.info-semana2 {
  grid-area: info-semana2;
  background: blue;
}
.foto-semana3 {
  grid-area: foto-semana3;
}
.info-semana3 {
  grid-area: info-semana3;
}
.foto-semana4 {
  grid-area: foto-semana4;
}
.info-semana4 {
  grid-area: info-semana4;
}
